extends ../layout

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action="/bicicletas/create" method="post")
        label(for='id') Id:
        input#id(type="text" name="id")
        br
        label(for="color") Color:
        input#color(type="text" name="color")
        br
        label(for="model") Modelo:
        input#modelo(type="text" name="modelo")
        br
        input.btn(type="submit", value="Guardar")