extends ../layout

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action="/bicicletas/" + bici.id + "/update" method="post")
        label(for='id') Id:
        input#id(type="text" name="id" value=bici.id)
        br
        label(for="color") Color:
        input#color(type="text" name="color" value=bici.color)
        br
        label(for="model") Modelo:
        input#modelo(type="text" name="modelo" value=bici.modelo)
        br
        input.btn(type="submit", value="Guardar")